<div class="row medical-area-container br-20 mx-2 mx-lg-0">
    <div class="col-12 col-lg-8 medical-area-info-container">
        <p class="medical-area-title">Áreas de<br /> Descanso para<br /> Familiares</p>
        <p class="medical-area-subtitle">Contamos con 5 comodos modulos de descanso para familiares</p>
        <img src="assets/images/medical-area.jpeg" class="img-fluid br-20" alt="main-information-img">
    </div>
    <div class="col-12 col-lg-4 medical-area-location-container px-3 px-lg-0 pb-0 pb-lg-3">
        <p class="text-white fw-semibold ms-4 pt-4">Mazatlán</p>
        <div class="d-flex hospitals-card-container ps-4 pb-4 pe-0 pe-lg-3">
            <app-hospital-card class="d-flex flex-row flex-lg-column" [hospitalsInfo]="hospitalsInfo"></app-hospital-card>
        </div>
    </div>
</div>