<div class="d-flex flex-column w-100 align-items-center text-center">
    <p class="medical-info-title mb-2">Excelencia médica</p>
    <p class="medical-info-subtitle mb-5 mb-md-4">Centros de alta especialidad</p>
    <p class="medical-info-description">Nuestro objetivo es brindar una opción segura y confiable para el diagnóstico y
        tratamiento de diversos padecimientos.</p>
    <div class="medical-info-img-container mt-4">
        <img src="assets/images/medical-info.jpg" alt="Imagen" class="medical-info-img br-20">
        <div class="medical-info-txt br-20 justify-content-between align-items-center">
            <p class="mt-4 mt-md-5 medical-info-img-description">Hospital Marina Mazatlán, va a la vanguardia en
                tecnología, cuenta con el Centro de Transplante Renal y Hemodialisis.</p>
            <div class="mb-2 mb-md-4 d-flex flex-column flex-lg-row">
                <div>
                    <p
                        class="medical-info-img-info mb-0 cursor-pointer d-flex align-items-center justify-content-center">
                        <span>Ver información</span> <mat-icon class="text-primary medical-info-img-info-icon">keyboard_arrow_right</mat-icon></p>
                    <p class="fst-italic">Cumpliendo con la Calidad Médica y Calidez Humana</p>
                </div>
                <div class="ms-4">
                    <img src="assets/logos/certification.png" class="medical-info-img-logo" alt="Certification Logo">
                </div>
            </div>
        </div>
    </div>
</div>