<div class="footer-container">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-4 col-xl-3 mb-3 mb-md-0 d-flex flex-column">
                <img src="assets/logos/logo.png" class="footer-logo" alt="HMM Logo">
                <img src="assets/logos/certification.png" class="footer-logo2 ms-5" alt="Certification Logo">
                <p class="mt-4">Somos el único hospital certificado en sinaloa, regido con los más altos estandares de calidad para la atención y cuidado del paciente.</p>
            </div>
            <div class="col-12 col-md-8 col-xl-9">
                <div class="row">
                    <div class="col-12 col-md-6 col-xl-3">
                        <p class="fw-bold">Comunidad</p>
                        <p><a href="" class="text-decoration-none text-black" target="_blank">Membresias HMM</a></p>
                        <p><a href="" class="text-decoration-none text-black" target="_blank">Atención a Pacientes</a></p>
                        <p><a href="" class="text-decoration-none text-black" target="_blank">Directorio Médico</a></p>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 mt-4 mt-md-0">
                        <p class="fw-bold">Legales</p>
                        <p><a href="" class="text-decoration-none text-black" target="_blank">Términos de uso</a></p>
                        <p><a href="" class="text-decoration-none text-black" target="_blank">Políticas de publicidad</a></p>
                        <p><a href="assets/pdfs/Aviso-de-privacidad-2019.pdf" class="text-decoration-none text-black" target="_blank">Aviso de privacidad</a></p>
                        <p><a href="" class="text-decoration-none text-black" target="_blank">Permiso COFEPRIS</a></p>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 mt-4 mt-xl-0">
                        <p class="fw-bold">Espacio para médicos</p>
                        <p><a href="" class="text-decoration-none text-black" target="_blank">Credencialización</a></p>
                        <p><a href="" class="text-decoration-none text-black" target="_blank">Sesiones Clínicas</a></p>
                        <p><a href="" class="text-decoration-none text-black" target="_blank">Sesiones generales</a></p>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 mt-4 mt-xl-0">
                        <p class="fw-bold">Contacto</p>
                        <p><a href="#medicalArea" class="text-decoration-none text-black">Contáctanos</a></p>
                        <p><a href="https://www.facebook.com/HospitalMarinaMazatlan/" class="text-decoration-none text-black" target="_blank">Facebook</a></p>
                        <p><a href="https://www.instagram.com/hospitalmarinamazatlan/" class="text-decoration-none text-black" target="_blank">Instagram</a></p>
                        <p><a href="" class="text-decoration-none text-black" target="_blank">LinkedIn</a></p>
                        <p><a href="https://www.youtube.com/channel/UCpsMUdKZT1dDmiHKk7MruFg" class="text-decoration-none text-black" target="_blank">Youtube</a></p>
                        <p><a href="https://twitter.com/HMM_MZT" class="text-decoration-none text-black" target="_blank">X</a></p>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4 mb-5 mb-md-0">
                <p>© Derechos reservados HOSPITAL MARINA MAZATLÁN 2024</p>
            </div>
        </div>
    </div>
</div>