<div class="w-100 navnar-container py-4">
    <nav class="container h-100 navbar navbar-expand-lg">
        <div class="container-fluid">
            <span class="navbar-brand cursor-pointer" (click)="onGoToRoute()">
                <img src="assets/logos/logo.png" class="navbar-logo" alt="HMM Logo">
                <img src="assets/logos/certification.png" class="navbar-logo2 ms-4" alt="Certification Logo">
            </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end mt-3 mt-sm-0" id="navbarSupportedContent">
                <ul *ngFor="let item of navbarItems" class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <span class="nav-link cursor-pointer" (click)="onGoToRoute(item.route)">{{item.name}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>