.medical-services-title {
    font-size: 20px;
    font-weight: 700;
    color: #515151;
}

.medical-services-subtitle {
    font-size: 45px;
    font-weight: 800;
}

.medical-services-description {
    font-size: 12px;
}

.medical-services-btn {
    width: 124px;
    height: 44px;
    font-size: 12px;
    font-weight: 600;
}

.medical-services-cards-arrows {
    width: 45px;
    height: 45px;
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, .1);
}

.medical-services-cards-arrows:not(:disabled):hover {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .2);
}

.medical-services-cards-container {
    height: 259px;

    @media only screen and (max-width: 991px) {
        height: 277px;
    }

    .medical-services-cards-title {
        font-size: 17px;
        font-weight: 700;
    }

    .medical-services-cards-description {
        font-size: 12px;
    }

    .medical-services-cards-location-title {
        font-size: 12px;
        font-weight: 800;
    }

    .medical-services-cards-location {
        font-size: 12px;
    }

    .medical-services-cards-btns {
        width: 97px;
        height: 44px;
        font-size: 12px;
        font-weight: 600;
    }
}