<div class="row align-items-center">
    <div class="col-12 col-lg-4 col-xl-3 mb-4 mb-lg-0">
        <div class="d-flex flex-column mb-3">
            <span class="medical-services-title">Nuestros</span>
            <span class="medical-services-subtitle">Servicios</span>
        </div>
        <p class="medical-services-description">Con más de 55 especialidades médicas,
            ofrecemos servicios desde primer contacto
            hasta servicios de alta especialidad, para
            cuidar de cada uno de nuestros pacientes en
            cualquier etapa de su vida.</p>
        <button class="btn btn-primary medical-services-btn d-flex align-items-center"><span>Conoce
                más</span> <mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
    <div class="col-12 col-lg-8 col-xl-9">
        <div class="row">
            <div class="col-12 d-flex justify-content-end mb-4">
                <button class="medical-services-cards-arrows d-flex align-items-center justify-content-center" [disabled]="currentIndex === 0" (click)="prevSlide()"
                    ><mat-icon>keyboard_arrow_left</mat-icon></button>
                <button class="medical-services-cards-arrows ms-3 d-flex align-items-center justify-content-center" [disabled]="(currentIndex + 1) * cardsOnDisplay >= specialties.length + 1" (click)="nextSlide()"
                   ><mat-icon>keyboard_arrow_right</mat-icon></button>
            </div>
        </div>
        <div class="row g-3">
            <div *ngFor="let item of specialties.slice(currentIndex * cardsOnDisplay, (currentIndex + 1) * cardsOnDisplay); let i = index" 
     class="col-12 col-xl-6 medical-services-cards-container" 
     [@cardAnimation]="(i >= previousIndex * cardsOnDisplay && i < currentIndex * cardsOnDisplay) ? 'leave' : 'enter'">
                <div class="row py-4 bg-primary br-20 mx-0 h-100">
                    <div class="col-6 col-md-5 ps-3 pe-2 pe-md-3 py-2">
                        <img [src]="'assets/images/medical-area.jpeg'" class="medical-services-cards-img img-fluid br-20 h-100" alt="main-information-img">
                    </div>
                    <div class="col-6 col-md-7 p-2 text-white d-flex flex-column justify-content-between">
                        <p class="medical-services-cards-title">{{item.name}}</p>
                        <p class="medical-services-cards-description">Descripción ...</p>
                        <p class="medical-services-cards-location-title mb-0">Disponible en:</p>
                        <p class="medical-services-cards-location">Mazatlán</p>
                        <button class="btn btn-light text-primary medical-services-cards-btns">Ver más</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>