<div class="row">
    <div class="mt-4 order-2 order-md-1">
        <app-main-information></app-main-information>
    </div>
    <!-- <div id="idDelDivEspecifico" class="my-5 order-1 order-md-2"></div> -->
</div>
<div class="mb-5 search-doctors-container">
    <app-search-doctors></app-search-doctors>
</div>
<div class="my-5">
    <app-images-carousel [images]="images"></app-images-carousel>
</div>
<div class="my-5">
    <app-medical-services></app-medical-services>
</div>
<div class="my-5">
    <app-digital-info></app-digital-info>
</div>
<div class="my-5">
    <app-medical-info></app-medical-info>
</div>
<div class="my-5">
    <app-medical-area></app-medical-area>
</div>
<div class="my-5">
    <app-medical-blog></app-medical-blog>
</div>