.main-information-titles {
    font-weight: bold;
    font-size: 45px;
}

.main-information-subtitles {
    font-weight: 600;
    font-size: 20px;
}

.main-information-description {
    font-weight: 500;
    font-size: 12px;
}