<div class="row align-items-center">
    <div class="col-12 col-md-5">
        <h1 class="main-information-titles mb-0">Hospital</h1>
        <h1 class="main-information-titles mb-0">Marina</h1>
        <h1 class="main-information-titles mb-0">Mazatlán</h1>
        <h6 class="main-information-subtitles mb-0 mt-3">Médicos y</h6>
        <h6 class="main-information-subtitles mb-0">Especialistas</h6>
        <h6 class="main-information-subtitles mb-0">Dirigiendo tu salud.</h6>
        <p class="main-information-description mt-4">Somos el único hospital certificado en sinaloa, regido con los más altos estandares de calidad para la atención y cuidado del paciente.</p>
    </div>
    <div class="col-12 col-md-7 mt-3 mt-md-0">
        <app-images-carousel [images]="images"></app-images-carousel>
    </div>
</div>